<% layout('layout2')%>
<!DOCTYPE html>
<div class="container-fluid">
  <div class="row content">
	  <% include ../partials/sidebar %>
	  <div class="col-sm-9">
		  <h1>List of Companies</h1>
	    <hr>
		<div class="row">
			<%for(i=0; i<data.length; i++){%>
			<a class="color_text_a_tag_company" href="/company-profile/<%= data[i]._id %>">
				 <div class="column">
					<%if (data[i].image == '') { %>
						<img class="card-img-top" src="/images/template_avatar.png" alt="Card image" style="width:100%">
					 <% } %>
					 <%if (data[i].image!= '') { %>
						 <img class="card-img-top" src="/uploads/<%= data[i].image %>" alt="Card image" style="width:100%">
					  <% } %>
				   <div class="card">
					 <h4><b><%= data[i].name %></b></h4>
	  				 <p>******</p>
	  				 <p><%= data[i].sector%></p>
	  				  <p><%= data[i].city %>, <%= data[i].country %></p>
				   </div>
				 </div>
			 </a>
			 <% }%>
		    </div>
		</div>
  	</div>
</div>
